* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  position: relative;
  width: 80%;
  height: 600px;
  background-color: rgb(13, 16, 172);
  text-align: center;
  margin: auto;
}

#score {
  font-size: 40px;
  color: white;
}
#paddle1 {
  position: absolute;
  left: 20px;
  height: 140px;
  width: 30px;
  background-color: white;
}

#paddle2 {
  position: absolute;
  right: 20px;
  height: 140px;
  width: 30px;
  background-color: white;
}

#ball {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: white;
  position: absolute;
  top: 300px;
  left: 500px;
}

/* position: absolute;
        top:    0px;
        width:  100px;
        height: 100px;
        border-radius: 50px;
        background-color: red; */

#net {
  border-left: 5px dotted white;
  height: 450px;
  position: fixed;
  left: 50%;
  top: 90px;
}

#playerA {
  font-size: 20px;
}
#playerB {
  font-size: 20px;
}
